body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background: #FFFFFF;
	min-width: 1440px;
}

.container {
	min-width: 1200px;
}

.header-nav {	
	display: flex;

	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	
	min-width: 1440px;
	min-height: 64px;
	
	margin: 26px 0 81px 0;
}

.logo {
	position: absolute;
	left: 670px;
	right: 670px ;
	top: 42px;
}

.main-nav ul {
	display: flex;
	list-style-type: none;
	
	align-items: center;
	
	padding-left: 120px;
	padding-right: 120px;
}

li {
	list-style-type: none;
}

.header-list li:nth-child(2) {
	padding-left: 102px;
	padding-right: 101px;
}

.header-list li:nth-child(3) {
	padding-right: 224px;
}

.header-list li:nth-child(5) {
	padding-left: 89px;
	padding-right: 89px;
}

a {
	text-decoration: none;
}

.header-list a {	
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	text-align: center;
	
	color: #AE7C78;
}

.mains {
	display: flex;
	
	max-width: 1200px;
	height: 463px;
	
	margin: 0 120px 48px 120px;
}

.mains-pictures {
	display: flex;
}

.flower {
	display: flex;
	align-items: flex-end;
}

.mains-pictures img:first-child {
	margin-right: 20px;
}

.mains-text h1 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;
	
	margin-top: 0;
	margin-bottom: 24px;
	margin-right: 23px;
	
	color: #AE7C78;
}

.mains-text span {
	font-style: italic;
}

.mains-text p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	
	margin-top: 0;
	margin-bottom: 94px;
	
	color: #AE7C78;
}

.btn-katalog {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	padding: 30px 69px 30px 70px;
	width: 285px;
	height: 80px;
	
	color: #FFFFFF;
	
	background: #D89999;
	border-radius: 40px;
}

.advantages {
	max-width: 1200px;
	height: 108px;
	
	margin: 0 120px 80px 120px;
}

.advantages-list {
	display: flex;
	
	padding: 0;
	margin: 0;
}

.advantages-list h5 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	
	margin: 0 0 8px 0;
	
	color: #AE7C78;
}

.advantages-list p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	margin: 0;

	color: #AE7C78;
}

.advantages-list div {
	position: relative;
	min-width: 285px;
}

.advantages-list div:first-of-type{
	margin: 0 58px 0 20px;
}

.advantages-list div:nth-of-type(2) {
	margin: 0 43px 0 29px;
}

.advantages-list div:last-of-type {
	margin: 0 0 0 20px;
}

.popular {
	max-width: 794px;
	height: 546px;
	
	margin: 0 323px 80px 323px;
}

.popular h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;

	letter-spacing: 0.02em;
	
	margin: 0 206px 36px 216px;

	color: #AE7C78;
}

.popular h4 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	margin: 27px 0 20px 0;

	color: #AE7C78;
}

.popular h4:nth-of-type(2) {
	margin: 0 0 64px 0;
}

.popular p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	margin: 0 0 24px 0;

	color: #AE7C78;
}

.slider {
	display: flex;
}

.slider-text {
	margin-right: 20px;
}

.order {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	padding: 30px 107px 30px 105px;
	
	color: #FFFFFF;
	background: #D89999;
	
	border-radius: 40px;
	border: 0;
}

.slider-pictures img:first-of-type {
	margin-bottom: 16px;
}

.btn-btn {
	margin-left: 335px;
}

.btn-btn input:first-of-type {
	margin-right: 20px;
}

/*.catalog {
	display: flex;
	min-width: 794px;
	min-height: 546px;
	
	margin: 0 120px 80px 120px;
}
 
 .catalog div {
	margin: 0 19px 0 0;
}
  
.catalog div:last-of-type {
	margin:  0;
}*/

/*
.catalog {
	display: grid;
	grid-template-columns: 387px 387px 387px;
	grid-template-rows:  183px 76px 183px;
	
	column-gap: 19px;
	margin: 0 120px 80px 120px;
}

.wedding img {
	grid-column: 1/2;
	grid-row: 1/-1;
}

.pions img {
	grid-column: 2/3;
	grid-row: 1/-1;
}

.field img {
	grid-column: 3/4;
	grid-row: 1/-1;
	
}

.wedding h3,
.wedding p {
	grid-column: 1/2;
	grid-row: 2/3;
}

.pions h3,
.pions p {
	grid-column: 2/3;
	grid-row: 2/3;
}

.field h3,
.field p {
	grid-column: 3/4;
	grid-row: 2/3;
}
*/

.wedding {
	background: url("img/flower_orhid.jpg");
	
	height: 442px;
	width: 387px;
}

.catalog h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;

	text-align: center;
	letter-spacing: 0.02em;
	
	margin: 0;

	color: black;
}

.catalog p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	margin: 0;

	color: #FFFFFF;
}