body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background: #FFFFFF;
	min-width: 1440px;
}

.container {
	min-width: 1200px;
}

.header-nav {	
	display: flex;

	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	
	min-width: 1440px;
	min-height: 64px;
	
	margin: 26px 0 81px 0;
}

.logo {
	position: absolute;
	left: 670px;
	right: 670px ;
	top: 42px;
}

.header-nav ul {
	display: flex;
	list-style-type: none;
	
	align-items: center;
	
	padding-left: 120px;
	padding-right: 120px;
}

li {
	list-style-type: none;
}

.header-list li:nth-child(2) {
	padding-left: 102px;
	padding-right: 101px;
}

.header-list li:nth-child(3) {
	padding-right: 224px;
}

.header-list li:nth-child(5) {
	padding-left: 89px;
	padding-right: 89px;
}

a {
	text-decoration: none;
}

.header-list a {	
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	text-align: center;
	
	color: #AE7C78;
}

.mains {
	display: flex;
	
	max-width: 1200px;
	height: 463px;
	
	margin: 0 120px 48px 120px;
}

.mains-pictures {
	display: flex;
}

.flower {
	display: flex;
	align-items: flex-end;
}

.mains-pictures img:first-child {
	margin-right: 20px;
}

.mains-text h1 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;
	
	margin-top: 0;
	margin-bottom: 24px;
	margin-right: 23px;
	
	color: #AE7C78;
}

.mains-text span {
	font-style: italic;
}

.mains-text p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	
	margin-top: 0;
	margin-bottom: 94px;
	
	color: #AE7C78;
}

.btn-katalog {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	padding: 30px 69px 30px 70px;
	width: 285px;
	height: 80px;
	
	color: #FFFFFF;
	
	background: #D89999;
	border-radius: 40px;
}

.advantages {
	max-width: 1200px;
	height: 108px;
	
	margin: 0 120px 80px 120px;
}

.advantages-list {
	display: flex;
	
	padding: 0;
	margin: 0;
}

.advantages-list h5 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	
	margin: 0 0 8px 0;
	
	color: #AE7C78;
}

.advantages-list p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	margin: 0;

	color: #AE7C78;
}

.advantages-list div {
	position: relative;
	min-width: 285px;
}

.advantages-list div:first-of-type{
	margin: 0 58px 0 20px;
}

.advantages-list div:nth-of-type(2) {
	margin: 0 43px 0 29px;
}

.advantages-list div:last-of-type {
	margin: 0 0 0 20px;
}

.popular {
	max-width: 794px;
	height: 546px;
	
	margin: 0 323px 80px 323px;
}

.popular h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;

	letter-spacing: 0.02em;
	
	margin: 0 206px 36px 216px;

	color: #AE7C78;
}

.popular h4 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	margin: 27px 0 20px 0;

	color: #AE7C78;
}

.popular h4:nth-of-type(2) {
	margin: 0 0 64px 0;
}

.popular p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	margin: 0 0 24px 0;

	color: #AE7C78;
}

.slider {
	display: flex;
}

.slider-text {
	margin-right: 20px;
}

.order {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	padding: 30px 107px 30px 105px;
	
	color: #FFFFFF;
	background: #D89999;
	
	border-radius: 40px;
	border: 0;
}

.slider-pictures img:first-of-type {
	margin-bottom: 16px;
}

.btn-btn {
	margin-left: 335px;
}

.btn-btn input:first-of-type {
	margin-right: 20px;
} 

.catalog {
	display: flex;
	min-width: 794px;
	min-height: 442px;
	
	margin: 0 120px 80px 120px;
}
 
 .catalog div {
	margin: 0 19px 0 0;
}
  
.catalog div:last-of-type {
	margin:  0;
}

.catalog h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;

	letter-spacing: 0.02em;
	
	margin: 0 0 8px 0;

	color: #FFFFFF;
}

.catalog p {	
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	
	margin: 0;

	color: #FFFFFF;
}

.wedding,
.pions,
.field {
	position: relative;
}

.wedding h3 {
	position: absolute;
	top: 183px;
	left: 22px;
}

.wedding p {
	position: absolute;
	top: 239px;
	left: 117px;
}

.pions h3{
	position: absolute;
	top: 183px;
	left: 25px;
}

.pions p {
	position: absolute;
	top: 239px;
	left: 67px
}

.field h3 {
	position: absolute;
	top: 183px;
	left: 57px
}

.field p {
	position: absolute;
	top: 239px;
	left: 97px;
}

.discount {
	display: flex;
	
	width: 1200px;
	height: 391px;
	
	margin: 0 120px 80px 120px;
	
	background: #AE7C78;
}

.discount div {
	margin: 40px 20px 64px 102px;
}

.discount div h2 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;
	letter-spacing: 0.02em;
	
	width: 488px;
	
	margin: 0 0 24px 0;

	color: #FFFFFF;
}

.discount div p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	
	width: 387px;
	
	margin: 0;

	color: #FFFFFF;
}

.steps {
	margin: 0 120px 80px 120px;
	max-width: 1200px;
}

.steps h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	
	text-align: center;
	
	letter-spacing: 0.02em;
	
	margin: 0 0 36px 0;
	
	color: #AE7C78;
}

.steps-list {
	display: flex;
}

.steps-list h5 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	
	text-align: center;
	
	margin: 0 0 8px 0;

	color: #AE7C78;
}

.steps-list p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	
	margin: 0;
	
	color: #AE7C78;
}

.steps-list img {
	display: block;
	margin: 0 auto 8px auto;
}

.news {
	display: flex;
	
	width: 1200px;
	height: 460px;
	
	margin: 0 120px 80px 120px;
}

.news-text {
	margin: 70px 21px 107px 0;
}

.news-text h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
	
	margin: 0 0 40px 0;

	color: #AE7C78;
}

.news-text p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	
	margin: 0 0 40px 0;
	width: 387px;

	color: #AE7C78;
}

.news-text a:nth-of-type(2) {
	margin: 0 18px 0 20px;
}

.news-pictures {
	display: grid;
	
	grid-template-columns: 285px 387px;
	grid-template-rows: 220px 220px;
	
	gap: 20px;
}

.news-pictures img:first-child {
	grid-column: 1/2;
	grid-row: 1/2;
}

.news-pictures img:nth-child(2) {
	grid-column: 1/2;
	grid-row: 2/3;
}

.news-pictures img:last-child {
	grid-column: 2/3;
	grid-row: 1/-1;
}

.reviews {
	border: 1px solid #AE7C78;
	box-sizing: border-box;
	
	margin: 0 120px 80px 120px;
	
	width: 1200px;
}

.reviews-1,
.reviews-2,
.reviews-3 {
	margin: 0 ;
}

.reviews-2 {
	margin: 0 106px 0 106px;
}

.reviews h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;

	text-align: center;
	letter-spacing: 0.02em;
	
	margin: 40px 0 40px 0;

	color: #AE7C78;
}

.reviews p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	
	margin: 0 0 16px 0;
	
	width: 300px;

	color: #AE7C78;
}

.reviews cite {
	display: block;
	
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	
	margin: 0 auto 0 auto;

	color: #AE7C78;
}

.reviews div {
	display: flex;
	
	margin: 0 44px 63px 44px;
}

.contacts {
	display: grid;
	grid-template-columns: 222px 386px 832px;
	grid-template-rows: 52px 520px 72px;
	
	width: 1440px;
	
	margin: 0;
}

.contacts-text {
	grid-column: 2/3;
	grid-row: 2/3;
	
	width: 386px;
	height: 520px;
	
	background: #F7FAFC;
	box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
	border-radius: 12px;
}

.contacts-text h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;

	align-items: center;
	
	margin: 0 0 42px 0;

	color: #AE7C78;
}

.contacts-text  p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	
	margin: 0;
	
	color: #AE7C78;
}

.contacts-text span {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;

	color: #AE7C78;
}

.contacts-text a {
	color: #AE7C78;
}

.contacts-text ul {
	margin: 40px 108px 65px 35px;
	padding: 0
}

.contacts-text li:nth-of-type(2) {
	margin: 0 0 32px 0;
}

.contacts-text li:nth-of-type(3) {
	margin: 0 0 29px 0;
}

.contacts-text li:nth-of-type(4) {
	margin: 0 0 34px 0;
}

.contacts-text li:nth-of-type(2) p:first-of-type {
	margin: 0 0 21px 0;
}

.contacts-text li:nth-of-type(3) p:first-of-type,
.contacts-text li:nth-of-type(3) p:first-of-type {
	margin: 0 0 14px 0;
}

.contacts-text li:last-of-type p:first-of-type {
	margin: 0 0 17px 0;
}

footer {
	display: flex;
	
	width: 1440px;
	
	background: #AE7C78;
}

.footer-list {
	display: flex;
	
	margin: 0 105px 0 0;
	padding: 0;
	gap: 68px;
}

.footer-list li {
	display: block;
	
	margin: auto 0 auto 0;
}

.footer-nav {
	display: flex;
	
	margin: 24px 115px 41px 125px;
}

.footer-nav p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	
	text-align: center;
	
	margin: 0;
	
	color: #FFFFFF;
}

.logo_footer {
	display: block;
	
	margin: auto 103px auto 0;
} 

.footer-pictures {
	display: block;
	
	margin: auto 0 auto 0;
}

.footer-pictures a:nth-of-type(2) {
	margin: 0 18px 0 18px;
}

